.menu {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
    display: none;
    transition: width 0.3s;
    z-index: 1;
}
.menu a:active{
    font-weight: bold;
    border-left: 5px solid #8257E5;
}
.menu.open {
    transform: translate(0, 44px);
    display: block;
}
  
.hamburger-menu.open .menu {
    display: block;
    
}
.menu a{
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: start;
}
.hamburger-menu{
    position: absolute;
    right: 20px;
    top: 45px;
}